body {
    background-color: #A37EF2;
}
h2{
    max-width: 1185px;
    padding: 0px 281px;
    border-radius: 50px;
    background: #B3ADD9;
    font-size: 36px;
}
section h4, 
h3,
h2,
.inspirationflex figcaption,
.studiologo strong{
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Abril Fatface";
    font-size: 24px;
    font-weight: 400;
}
h3{
    font-size: 36px;
    text-shadow: none;
}
.inspirationflex figcaption{
    font-size: 20px;
    width: 334px;
    text-shadow: none;
}
.studiologo strong{
    text-align: justify;
    font-size: 50px;
}
main{
    background-color: #323142;
    padding: 10px;
}

main section{
    display: flex;
}
main > article,
main section{
    border-radius: 50px;
    background: #B3ADD9;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: fit-content;
    margin: 10px auto 10px auto;
    padding: 50px;
}

.doubleurs {
    display: flex;
    gap: 10px;
}

.photodoubleur{
    border-radius: 211px;
    background: url("../img/DoubleurEren.jpg"), lightgray 0.572px -10.702px / 100% 135.167% no-repeat;
    width: 211px;
    height: 211px;
    object-fit:cover;
}

section p,
.studio p,
.inspiration article{
    padding: 29px;
    border-radius: 50px;
    background: #EFE4E2;
    color: #000;
    text-align: justify;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    max-width:744px;
    height: fit-content;
}
.doubleurs2 {
    border-radius: 50px 0px 0px 50px;
}
.doubleurs3 {
    border-radius: 0px 50px 50px 0px;
}

.studio {
    display: flex;
    gap: 50px;
}

.studiologo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div >div >img {
    max-width: 268px;
    max-height: 134px;
    border-radius: 20px;
}

.inspiration,
.inspiration article{
    display: flex;
    flex-direction: column;
}

.inspirationflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inspirationflex img{
    border-radius: 20px;
    width: 334px;
    height: 716px;
}
.inspiration img{
    border-radius: 20px;
}
