body {
    background-color: #A37EF2;
    margin: 5px;
}
h2{
    display: flex;
    width: 1185px;
    padding: 0px 281px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #B3ADD9;
    color: #000;
    text-align: center;
    font-family: Abril Fatface;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
main{
    background-color: #323142;
    padding: 10px;
}
section{
    border-radius: 50px;
    background: #B3ADD9;
    display: flex;
}

section h4 {
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Abril Fatface;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section img {
    border-radius: 211px;
    background: url("../img/DoubleurEren.jpg"), lightgray 0.572px -10.702px / 100% 135.167% no-repeat;
    width: 211px;
    height: 211px;
    flex-shrink: 0;
    object-fit:cover;
}

section p{
    padding: 29px;
    border-radius: 50px;
    background: #EFE4E2;
    color: #000;
    text-align: justify;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width:744px;
}