/* RESET */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}

/* VARIABLES GLOBALES */

:root {
  --dark: #323142;
  --beige: #efe4e2;
  --light: #d9d9d9;
  --dark-purple: #a37ef2;
  --light-purple: #b3add9;

  --main-font: "Lato", sans-serif;
  --title-font: "Abril Fatface", serif;
}

/* GLOBAL UTILITIES */

body {
  font-family: var(--main-font);
}

main {
  background-color: var(--dark-purple);
  padding: 10px;
}

section {
  background-color: var(--dark);
  padding: 20px;
}

/* HEADER */

header {
  background-color: var(--dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  width: 100px;
}
header h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 2.5rem;
  color: var(--beige);
}
header nav {
  display: flex;
  gap: 5px;
  background-color: var(--dark-purple);
  padding: 6px;
  border-radius: 5px;
}
header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--beige);
  width: 250px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
header nav a:hover {
  background-color: var(--light);
}
header nav img {
  width: 40px;
}
header nav span {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: black;
}

.close {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}
.close:hover {
  background-color: #999;
}

.hamburger {
  display: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hamburger:hover {
  background-color: #444;
}

@media screen and (max-width: 1250px) {
  header img {
    width: 75px;
  }
  header h1 {
    font-size: 2rem;
  }
  header nav span {
    font-size: 1.25rem;
  }
  header nav img {
    width: 30px;
  }
  header nav a {
    gap: 20px;
    width: 200px;
  }
}
@media screen and (max-width: 930px) {
  header img {
    width: 60px;
  }
  header h1 {
    font-size: 1.5rem;
  }
  header nav span {
    font-size: 1rem;
  }
  header nav img {
    width: 20px;
  }
  header nav a {
    gap: 15px;
    width: 150px;
  }
}
@media screen and (max-width: 690px) {
  header nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    background-color: var(--beige);
    border-radius: 0 0 0 5px;
    padding: 0;
    gap: 0;
  }
  header nav a {
    justify-content: flex-start;
    border-radius: 0;
    padding: 10px;
  }
  header nav.active {
    display: flex;
  }
  .close {
    display: block;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ACCUEIL */

.wrapper {
  background-color: var(--dark);
  padding: 10px;
}

.main-sec {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-sec article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.article-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--light-purple);
  border-radius: 50px;
  max-width: 500px;
  padding: 20px;
}
.article-container h2 {
  font-size: 3rem;
}
.article-container h6,
.article-container em {
  font-size: 2rem;
}
.article-container p,
.article-container a {
  font-size: 1.5rem;
  text-align: justify;
}

.snk h2 {
  font-family: var(--title-font);
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 4px 4px #00000040;
  margin-bottom: 20px;
}
.snk .article-container {
  flex: 1;
}
.snk img {
  flex: 2;
  border-radius: 20px;
  max-width: 800px;
}

.bande-annonce {
  align-items: center;
}
.bande-annonce a {
  color: #000;
}
.bande-annonce a:hover {
  background-color: var(--dark-purple);
}
.bande-annonce .article-container {
  flex: 1;
}
.video-bande-annonce {
  flex: 2;
  max-width: 800px;
}
.video-bande-annonce iframe {
  aspect-ratio: 16/9;
}

.presentation-oeuvre .article-container {
  max-width: 1325px;
}
.presentation-oeuvre h6 {
  font-family: var(--title-font);
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .main-sec {
    gap: 25px;
  }
  .main-sec article {
    gap: 25px;
  }

  .article-container {
    gap: 0;
  }
  .article-container h2 {
    font-size: 2.5rem;
  }
  .article-container h6,
  .article-container em {
    font-size: 1.75rem;
  }
  .article-container p,
  .article-container a {
    font-size: 1.25rem;
  }

  .snk h2 {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1100px) {
  .main-sec {
    gap: 20px;
  }
  .main-sec article {
    gap: 20px;
  }

  .article-container h2 {
    font-size: 2rem;
  }
  .article-container h6,
  .article-container em {
    font-size: 1.5rem;
  }
  .article-container p,
  .article-container a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 930px) {
  .main-sec article {
    flex-direction: column;
  }

  .snk img {
    order: 1;
    max-width: 500px;
  }
  .snk .article-container {
    order: 2;
  }
}

.presentation-persos {
  background-color: var(--light-purple);
  border-radius: 50px;
  padding: 50px;
}
.presentation-persos article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--dark);
  border-radius: 50px;
}
.presentation-persos img {
  border: 3px solid #000;
  border-radius: 20px;
  width: 165px;
}

.presentation {
  margin-bottom: 50px;
  padding: 10px;
}
.presentation h5 {
  font-family: var(--title-font);
  font-size: 2.25rem;
  color: var(--beige);
}

.eren,
.armin {
  margin-bottom: 25px;
  padding: 25px;
}

.character-description {
  color: var(--beige);
  font-size: 1.25rem;
}

.eren-name,
.armin-name,
.mikasa-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--title-font);
  color: var(--beige);
}
.eren-name {
  font-size: 2rem;
}
.armin-name {
  font-size: 1.5rem;
}
.mikasa-name {
  font-size: 1.25rem;
}

/* SAISONS */

.saisons-sec {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.saisons-sec article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--light-purple);
  border-radius: 50px;
  padding: 30px;
}
.saisons-sec article > img {
  max-width: 500px;
  border-radius: 20px;
}

.saisons-title h2 {
  font-family: var(--title-font);
  font-size: 3rem;
  text-shadow: 0 4px 4px #00000040;
  text-align: center;
}

.episode-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.episode-container h3 {
  font-family: var(--title-font);
  font-size: 2.75rem;
  text-align: center;
  text-shadow: 0 4px 4px #00000040;
  margin-bottom: 30px;
}
.episode-container p {
  font-size: 1.5rem;
}

.note {
  display: flex;
  align-items: center;
  gap: 30px;
}
.note img {
  max-width: 250px;
}
.note h4 {
  font-family: var(--title-font);
  font-size: 2.25rem;
}

@media screen and (max-width: 1400px) {
  .saisons-sec article {
    flex-direction: column;
  }
  .saisons-sec article > img {
    order: 1;
  }
  .episode-container {
    order: 2;
  }
  .saisons-title h2 {
    font-size: 2.5rem;
  }
}

/* BACKSTAGE */

.backstage-sec img {
  width: 200px;
}
.backstage-sec {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.backstage-sec article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--light-purple);
  border-radius: 50px;
  padding: 30px;
}
.backstage-sec .doubleurs-title {
  padding: 10px;
}
.doubleurs-title h2 {
  font-family: var(--title-font);
  font-size: 3rem;
  text-shadow: 0 4px 4px #00000040;
  text-align: center;
}

.infos {
  background-color: var(--beige);
  font-size: 1.25rem;
  border-radius: 50px;
  padding: 30px;
  max-width: 800px;
  text-align: justify;
}

.doubleur-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.doubleur-img h6 {
  font-family: var(--title-font);
  font-size: 1.5rem;
  text-shadow: 0 4px 4px #00000040;
}
.doubleur-img img {
  border-radius: 50%;
}

.doubleuses {
  display: flex;
  gap: 20px;
  padding: 0;
}
.doubleuses article {
  display: flex;
  flex-direction: column;
}
.doubleuses article:nth-child(1) {
  border-radius: 50px 0 0 50px;
  width: 50%;
}
.doubleuses article:nth-child(2) {
  border-radius: 0 50px 50px 0;
  width: 50%;
}

.changement-studio {
  display: flex;
  flex-direction: column;
}
.changement-studio h3 {
  font-family: var(--title-font);
  font-size: 2.5rem;
  text-shadow: 0 4px 4px #00000040;
  text-align: center;
}

.infos-container {
  display: flex;
  gap: 20px;
}

.studio-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.studio-logos span {
  font-family: var(--title-font);
  font-size: 5rem;
  text-shadow: 0 4px 4px #00000040;
}
.studio-logos img {
  border-radius: 20px;
}

.inspiration {
  display: flex;
  flex-direction: column;
}
.inspiration h3 {
  font-family: var(--title-font);
  font-size: 2.5rem;
  text-shadow: 0 4px 4px #00000040;
  text-align: center;
}
.inspiration img {
  border-radius: 20px;
  width: 350px;
}
.inspiration figcaption {
  text-align: center;
  font-size: 1.1rem;
}
.inspiration figcaption span {
  font-family: var(--title-font);
}

.ville-allemande {
  font-size: 1.5rem;
  max-width: 1000px;
}
.ville-allemande img {
  margin: 30px auto 0;
  width: 700px;
}

@media screen and (max-width: 1000px) {
  .doubleurs-title h2 {
    font-size: 2.5rem;
  }
  .changement-studio h3 {
    font-size: 2.25rem;
  }
  .inspiration h3 {
    font-size: 2.25rem;
  }

  .backstage-sec article {
    flex-direction: column;
  }

  .doubleuses {
    flex-direction: column;
    align-items: center;
  }
  .doubleuses article:nth-child(1) {
    border-radius: 50px 50px 0 0;
    width: 100%;
  }
  .doubleuses article:nth-child(2) {
    border-radius: 0 0 50px 50px;
    width: 100%;
  }

  .changement-studio .infos-container {
    flex-direction: column;
  }

  .inspiration .infos-container {
    flex-direction: column;
    align-items: center;
  }
  .inspiration img {
    width: 250px;
  }
  .ville-allemande img {
    width: 500px;
  }
}

/* SAISON1 DETAILLEE */

.s1-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.saison1-sec,
.saison1-episodes {
  display: flex;
  background-color: var(--light-purple);
  border-radius: 50px;
}
.saison1-sec > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.saison1-sec h3 {
  font-family: var(--title-font);
  font-size: 2.75rem;
  text-align: center;
  text-shadow: 0 4px 4px #00000040;
  margin-bottom: 30px;
}
.saison1-sec p {
  font-size: 1.5rem;
}
.saison1-sec > img {
  max-width: 500px;
  border-radius: 20px;
}

.saison1-episodes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.saison1-episodes article {
  display: flex;
  gap: 20px;
  background-color: var(--light);
  border-radius: 50px;
  padding: 30px;
}
.saison1-episodes img {
  max-width: 350px;
}
.saison1-episodes p {
  font-size: 1.25rem;
}
.saison1-episodes h2 {
  font-family: var(--title-font);
  font-size: 3rem;
  text-shadow: 0 4px 4px #00000040;
  text-align: center;
  text-transform: uppercase;
}

.episode-infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

/* FOOTER */

footer {
  background-color: var(--dark);
  padding: 40px;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
}
footer img {
  width: 75px;
}
footer p {
  color: var(--beige);
  text-align: center;
  font-size: 1.25rem;
  margin-top: 25px;
}
